<nav class="nav">
  <div class="container nav-container">
    <div class="nav-mobile">
      <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></h1>
      <button class="navbar-menu-toggle js-navbar-menu-toggle">
        <i class="ion-navicon"></i>
      </button>
    </div>
    <div class="navbar">
      <ul class="navbar-links">
        <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
        <li><a href="{{ '/projects' | prepend: site.baseurl }}">projects</a></li>
        <li><a href="http://blog.tkjelectronics.dk/" target="_blank">blog</a></li>
      </ul>
      <ul class="navbar-social">
        <li><a class="btn-github" href="{{ site.author.github }}" target="_blank"><i class="ion-social-github"></i></a></li>
        <li><a class="btn-youtube" href="{{ site.author.youtube }}" target="_blank"><i class="ion-social-youtube"></i></a></li>
        <li><a class="btn-linkedin" href="{{ site.author.linkedin }}" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        <li><a class="btn-twitter" href="{{ site.author.twitter }}" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a class="btn-facebook" href="{{ site.author.facebook }}" target="_blank"><i class="ion-social-facebook"></i></a></li>
        <li><a class="btn-email" href="mailto:{{ site.author.email }}"><i class="ion-email"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
