---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    <script src="{{ "/assets/js/burgermenu.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/youtube.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script type="text/javascript">
      $(window).resize(function() {
        window.youtube()
      });
    </script>
  </body>
</html>
